<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

<!-- ADD TO PERSISTENCE:PROPERTIES FILE:
	google.clientId=1052169777876.apps.googleusercontent.com
	google.clientSecret=i4QqNZH8lhD5gtBU114yeZIw

 -->

<!-- First use basic authentication, if not provided, use digest -->
	<http create-session="stateless" >
		<!--  <intercept-url pattern="/students/**" access="ROLE_ADMIN" />-->
		<intercept-url pattern="/committees/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<!-- basic header: -->
		<!--
			Header ex for basic:
			
			Accept: application/xml
			Authorization: Basic YWRtaW46YWRtaW4= 
			
			//(YWRta... = base64 of admin:admin)
			
			-->
		<http-basic />
		
		<!-- digest header 
		
			Accept: application/xml
			Authorization: Digest username="admin", 
							realm="Contacts Realm via Digest Authentication", 
							nonce="MTMyOTY3Njk0NDM3Mjo0YWNmNzkwZmExOTYyYmZkZjc5MmMwMGYzNmQ3MjlhNQ==", 
							uri="/niths/students", 
							response="0a3b7d8346468c67d400e6fef18924f0", 
							qop=auth, nc=00000001, 
							cnonce="381b644a1a6dcc4b2719a7c002ea2166"

		-->
		<custom-filter ref="authfilter" after="BASIC_AUTH_FILTER"/>
	</http>
	
	
	<beans:bean id="authfilter"
				class="no.niths.security.UserAuthFilter"
	> 
	</beans:bean>

	<authentication-manager>
		<authentication-provider>
			<user-service id="userService">
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
				<user name="user" password="user" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	</beans:beans>