* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 10pt;
}

body {
  background-repeat: repeat-x;
  background-position: top;
  background-attachment: fixed;
  background-color: #CCCCCC;
}

h1 {
  font-size: 20pt;
  color: #292929;
  font-weight: bold;
  margin: 0 0 10px 0;
}

h2 {
  margin-top: 15px;
  font-size: 13pt;
  color: #292929;
}

hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  display: block;
  background-color: #FFF;
  padding: 20px;
  border-radius: 20px;
}

#content input[type="submit"] {
  cursor: pointer;
  padding: 3px;
  margin-bottom: 2px;
  margin-right: 5px;
}

#searcher input {
  background-color: #FFF;
  padding: 3px;
  border: 1px solid #c0c0c0;
  margin-bottom: 2px;
  margin-right: 5px;
}

#searcher input[type="submit"]:hover {
  outline: 1px solid #000;
}

#searcher input[type="radio"] {
  margin-right: 1px;
}

#searcher label {
  margin-right: 5px;
}

.list{
  list-style: none;
  padding: 5px;
  margin: 3px;  
}

.odd {
	background-color: #ebebeb;
	padding: 5px;
}
.even {
	background-color: #c4c4c4;
	padding: 5px;
}